@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lovelo_Black";
    font-weight: 600;
    src: url(/public/assets/fonts/Lovelo_Black.otf) format("otf");
  }
  @font-face {
    font-family: "Lovelo_Bold";
    font-weight: 800;
    src: url(/public/assets/fonts/Lovelo_Line_Bold.otf) format("otf");
  }
}

.menu__button__border {
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.menu__button {
  align-self: center;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: box-shadow 0.5s ease;
  color: #41403e;
  font-size: 1rem;
  letter-spacing: 1px;

  width: 210px;
  text-align: center;
  margin-bottom: 30px;
  user-select: none;

  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 5px #41403e;
  cursor: pointer;
}

.menu__button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.neon-text {
  /* font-size: 48px;
  color: #fff; */
  text-shadow: 1px 0 purple, 0 1px greenyellow;
}

.menu__burger__first__open {
  /*   opacity: 0.5; */
}

.menu__burger__first__close {
  transform: rotate(45deg) translate(4px, 4px);
  /* transform: ; */
}

.menu__burger__second__open {
  /*   opacity: 0.5; */
}

.menu__burger__second__close {
  opacity: 0;
  display: none;
}

.menu__burger__third__open {
  /*   opacity: 0.5; */
}

.menu__burger__third__close {
  transform: rotate(-45deg) translate(4px, -4px);
}

.oui::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  background-color: red;
  border-radius: 2px;
  transform: rotate(8deg);
  z-index: -1;
}

.video-container {
  height: 100vh; /* Set the container height to full viewport height */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable snapping behavior */
  position: relative;
}

.video-item {
  height: 100vh; /* Each video item takes full viewport height */
  scroll-snap-align: start; /* Snap each video item to the start of the container */
}

video {
  /*object-fit: cover;  Make the video fill the container */
  width: 100%; /* Make the video take full width of the container */
  height: 100%; /* Make the video take full height of the container */
}

/* Voir à afficher un button quand : */
/* Les vidéos n'ont pas encore été mises en routes, pour faire comprendre qu'il faut faire jouer les vidéos */
/* On appuie sur l'écran pour mettre pause la vidéo, voir à faire comme sur les réseaux afficher le play button un instant et le faire disparaitre */
/* .play-button1 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button2 {
  position: absolute;
  top: 137%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button3 {
  position: absolute;
  top: 237%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
