<div class="bg-content bg-cover">
  <div class="flex py-5 content-center justify-center">
    <a href="/index.html" class="flex flex-1 justify-center content-center">
      <img
        src="/assets/images/Logo_OMS.png"
        alt="Om'S barber logo"
        class="w-auto h-header-logo align-middle border-none"
      />
    </a>

    <div
      class="flex flex-[1.5_1.5_20px] h-fit mt-auto mb-auto bg-header bg-cover menu__button__border select-none text-center w-52 p-4 justify-center content-center outline-none border-black border-solid border-4"
    >
      <span class="font-lovelo-bold font-black text-lg text-page-title"
        >PRENDRE RDV</span
      >
    </div>
    <div
      class="flex-1 h-24 w-32 flex items-center justify-center right-0 top-0"
    >
      <div
        id="menu-burger"
        class="z-50 flex flex-col h-12 w-12 border-2 bg-white border-black rounded justify-center items-center group cursor-pointer"
      >
        <div
          class="menu__burger__sides__open h-1 w-6 my-1 rounded-full bg-black transition ease transform duration-300"
        ></div>
        <div
          class="menu__burger__middle__open h-1 w-6 my-1 rounded-full bg-black transition ease transform duration-300"
        ></div>
        <div
          class="menu__burger__sides__open h-1 w-6 my-1 rounded-full bg-black transition ease transform duration-300"
        ></div>
      </div>
    </div>
  </div>
</div>
